openapi: 3.1.0
info:
  title: Central Sequence Service API
  description:
    Manages sequence numbers for story elements, ensuring order and consistency via SQLite persistence and Typesense synchronization.
    Detailed implementation instructions can be found in the repository documentation.
  version: 5.0.0
  contact:
    name: Repository Documentation
    url: https://github.com/Contexter/Central-Sequence-Service
servers:
  - url: "https://centralsequence.fountain.coach"
    description: Production server
  - url: "https://staging.centralsequence.fountain.coach"
    description: Staging server
paths:
  /sequence:
    post:
      summary: Generate Sequence Number
      operationId: generateSequenceNumber
      tags:
        - SequenceManagement
      description: |
        Creates a sequence number for an element and synchronizes it with Typesense.
      requestBody:
        required: true
        description: Element details to generate the sequence number.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SequenceRequest'
      responses:
        '201':
          description: Sequence generated and synchronized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SequenceResponse'
        '400':
          description: Invalid request (e.g., missing or incorrect fields).
        '502':
          description: Synchronization with Typesense failed.
        '500':
          description: Internal server error.
  /sequence/reorder:
    put:
      summary: Reorder Elements
      operationId: reorderElements
      tags:
        - SequenceManagement
      description: |
        Reorders sequence numbers for elements and syncs them with Typesense.
      requestBody:
        required: true
        description: Details of the reordering request.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReorderRequest'
      responses:
        '200':
          description: Elements reordered and synchronized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReorderResponse'
        '400':
          description: Invalid request (e.g., missing or incorrect fields).
        '502':
          description: Synchronization with Typesense failed.
        '500':
          description: Internal server error.
  /sequence/version:
    post:
      summary: Create New Version
      operationId: createVersion
      tags:
        - VersionManagement
      description: |
        Creates a new version of an element and syncs it with Typesense.
      requestBody:
        required: true
        description: Details for creating a new version.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VersionRequest'
      responses:
        '201':
          description: New version created and synchronized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VersionResponse'
        '400':
          description: Invalid request (e.g., missing or incorrect fields).
        '502':
          description: Synchronization with Typesense failed.
        '500':
          description: Internal server error.
components:
  schemas:
    SequenceRequest:
      description: Request schema to generate a sequence number.
      type: object
      properties:
        elementType:
          type: string
          description: Type of the element (e.g., script, section).
        elementId:
          type: integer
          description: Unique ID of the element.
        comment:
          type: string
          description: Explanation for generating the sequence number.
      required: [elementType, elementId, comment]
    SequenceResponse:
      description: Response schema for generated sequence number.
      type: object
      properties:
        sequenceNumber:
          type: integer
          description: Generated sequence number.
        comment:
          type: string
          description: Explanation for the generated sequence number.
    ReorderRequest:
      description: Request schema for reordering elements.
      type: object
      properties:
        elementType:
          type: string
          description: Type of elements being reordered.
        elements:
          type: array
          items:
            type: object
            properties:
              elementId:
                type: integer
                description: Unique ID of the element.
              newSequence:
                type: integer
                description: New sequence number.
        comment:
          type: string
          description: Explanation for reordering elements.
      required: [elementType, elements, comment]
    ReorderResponse:
      description: Response schema for reordered elements.
      type: object
      properties:
        updatedElements:
          type: array
          items:
            type: object
            properties:
              elementId:
                type: integer
                description: Unique ID of the element.
              newSequence:
                type: integer
                description: Updated sequence number.
        comment:
          type: string
          description: Explanation for reordering elements.
    VersionRequest:
      description: Request schema for creating a new version.
      type: object
      properties:
        elementType:
          type: string
          description: Type of the element (e.g., script, section).
        elementId:
          type: integer
          description: Unique ID of the element.
        newVersionData:
          type: object
          description: Data for the new version.
        comment:
          type: string
          description: Explanation for creating a new version.
      required: [elementType, elementId, newVersionData, comment]
    VersionResponse:
      description: Response schema for new version creation.
      type: object
      properties:
        versionNumber:
          type: integer
          description: New version number.
        comment:
          type: string
          description: Explanation for creating the new version.
    ErrorResponse:
      description: Generic error response schema.
      type: object
      properties:
        errorCode:
          type: string
          description: Error code.
        message:
          type: string
          description: Description of the error.
        details:
          type: string
          description: Additional error details.
    TypesenseErrorResponse:
      description: Error response for Typesense synchronization.
      type: object
      properties:
        errorCode:
          type: string
          description: Error code from Typesense.
        retryAttempt:
          type: integer
          description: Number of retry attempts.
        message:
          type: string
          description: Error message from Typesense.
        details:
          type: string
          description: Additional Typesense error details.
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: X-API-KEY
security:
  - apiKeyAuth: []
